.quiz-section{
    padding: 8em 3em 10em 5em;
    box-sizing: border-box;
    overflow-y: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }   
}

.appear-animate{
    animation: slide-up 2s !important;
    transition-timing-function: ease-in !important;
}

@keyframes slide-up {
    from {
      margin-top: 30px; 
      opacity: 0.2;
    }
  
    to {
      margin-top: 0px;
      opacity: 1;
    }
  }